<mat-card>
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <div class="form-group" fxLayout="row">
        <div class="mb-20 flex-50" fxLayout="column">
          <label class="mb-10">Prénom</label>
          <input type="text" formControlName="firstname" />
        </div>
        <div class="mb-20 flex-50" fxLayout="column">
          <label class="mb-10">Nom</label>
          <input type="text" formControlName="lastname" />
        </div>
      </div>
      <div class="mb-20" fxLayout="column">
        <label class="mb-10">Téléphone</label>
        <input type="text" formControlName="phone" />
      </div>
      <div class="mb-20" fxLayout="column">
        <label class="mb-10">Email</label>
        <input type="text" formControlName="email" />
      </div>
      <div class="mb-20" fxLayout="column">
        <label class="mb-10">Role</label>
        <select formControlName="roleId">
          <option value="1">Admin</option>
          <option value="2">User</option>
        </select>
      </div>

      <div class="action">
        <button class="btn btn-primary" (click)="updateUser()">Valider</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
