.title {
  font-size: 20px;
  font-weight: 500;
}

mat-card-header {
  justify-content: space-between;
}

td {
  max-width: 300px;
  word-wrap: break-word;
  margin: 0 10px;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

input {
  height: 35px;
}

.action {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

