<mat-card>
  <mat-card-header>
    <mat-card-title>Liste des Tickets</mat-card-title>
    <input type="text" placeholder="Rechercher" (keyup)="filtrer($event)" />
    <button
      *ngIf="projectId"
      class="mb-10 btn btn-primary"
      color="primary"
      (click)="openForm()"
    >
      Nouveau Ticket
    </button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource" class="w-100">
      <div>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titre</th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let ticket"
            (click)="displayInfo(ticket)"
          >
            {{ ticket.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Ticket</th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let ticket"
            (click)="displayInfo(ticket)"
          >
            {{ ticket.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.status.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assigned">
          <th mat-header-cell *matHeaderCellDef>Developpeur Assigné</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.ticketsContribution[0].user.firstname }}
          </td>
        </ng-container>
        <ng-container matColumnDef="priority.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Priorité</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.priority.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.type.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date de création
          </th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.createdAt | date: "dd/MM/YY" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              class="action"
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
              <button mat-menu-item (click)="modifyTicket(row)">
                <mat-icon>edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item (click)="onDelete(row)">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[4, 25, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
