<div class="container">
  <mat-card class="p-20">
    <mat-card-title>Inscription</mat-card-title>
    <hr />
    <mat-card-content>
      <form (submit)="submit()" [formGroup]="form" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field appearance="fill" floatLabel="never">

            <input type="text" matInput formControlName="lastname" placeholder="Nom"/>
            <mat-error *ngIf="form.get('lastname')?.errors?.['required']"
              >Veuillez renseigner un Nom</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill" floatLabel="never">
   
            <input type="text" matInput formControlName="firstname" placeholder="Prénom" />
            <mat-error *ngIf="form.get('firstname')?.errors?.['required']"
              >Veuillez renseigner un Prénom</mat-error
            >
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill" floatLabel="never">
          <input type="text" matInput formControlName="phone" placeholder="Téléphone"/>
          <mat-error *ngIf="form.get('phone')?.errors?.['required']"
            >Veuillez renseigner un Téléphone</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="never">
          <input type="email" matInput formControlName="email" placeholder="Email"/>
          <mat-error *ngIf="form.get('email')?.errors?.['required']"
            >Veuillez renseigner un Email</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="never">
          <input type="password" matInput formControlName="password" placeholder="Mot de passe" />
          <mat-error *ngIf="form.get('email')?.errors?.['required']"
            >Veuillez renseigner un Mot de passe</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="never">
          <input type="password" matInput placeholder="Confirmer le mot de passe"/>
        </mat-form-field>
        <mat-error *ngIf="error"> {{ error }}</mat-error>
        <button class="btn btn-primary">Se Connecter</button>
      </form></mat-card-content
    >
    <mat-card-footer fxLayoutAlign="center">
      <a [routerLink]="['../login']" routerLinkActive="router-link-active">
        Vous avez déjà un compte ?
      </a>
    </mat-card-footer>
  </mat-card>
</div>
