mat-list-item {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
}

.comments-row {
  padding-top: 10px;
  margin-top: -50px;
}

mat-form-field {
  width: 90%;
}

.auto {
  margin-left: auto;
}

.date {
  margin-top: 15px;
  font-size: 12px;
  font-style: italic;
}
