<div class="container d-flex flex-column h-100">
  <div class="top">
    <h2>PROJET</h2>
  </div>
  <div class="bottom d-flex flex-column">
    <div class="d-flex flex-row display">
      <mat-card class="flex-30">
        <mat-card-header>
          <mat-card-title>Contributeurs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let user">
                {{ user.user.lastname }} {{ user.user.firstname }}
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let user">
                {{ user.user.email }}
              </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>Téléphone</th>
              <td mat-cell *matCellDef="let user">
                {{ user.user.phone }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-card-content>
      </mat-card>
      <app-tickets-list
        class="flex-70"
        (displayTicket)="getInfo($event)"
        [projectId]="project!.id"
        [project]="project"
      ></app-tickets-list>
    </div>
    <app-tickets-information></app-tickets-information>
  </div>
</div>
