<nav fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo">
    <img src="../../../assets/logo.png" alt="" routerLink="resume" />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <ul fxLayout="row">
      <li routerLink="resume">Dashboard</li>
      <li routerLink="tickets">Tickets</li>
      <li routerLink="admin" *ngIf="isAdmin">Administration</li>
    </ul>
    <button class="btn btn-secondary" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</nav>
